p { 
    margin:0 

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 450px;
    margin: auto;
    background: blue;
    border-radius: 10px 10px 10px;
    
}
.container > h1 {
    flex: 0 0 100%;
    font: 12px;
}

.photo {
    width: 150px;
    height: 150px;
    color: salmon;
    position: relative;
    padding: 7px;
}
img {
    width: 150px;
    height: 150px;
}

.location {
    position: absolute;
    bottom: 7px;
    left: 7px;
    z-index: 9999;
}

.location p {
    color: black
}

.photo div {
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 9999;
}

.prize p {
    color: black;
}

@media only screen and (max-width: 578px) {
    .slider {
        /* line them up horizontally */
        display: flex;
      
        /* allow for scrolling */
        overflow-x: auto;
      
        /* make it smooth on iOS */
        -webkit-overflow-scrolling: touch;
      }
}